/* 공통 스타일 */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
 height: 5000px;
}

/* .inner {
  max-width: 1886px;
  margin: 0 auto;
} */


.bg {
  height: 100vh;
  background-image: url("../images/kv_rayev_contract_pc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* header 영역 */
nav.gnb {
  min-width: 400px;
  height: 80px;
  display: flex;
  padding: 20px 25px 0;
}

nav.gnb .gnb-left {
  display: flex;
  flex: 4;
  align-items: center;
}

nav.gnb .gnb-left > li {
  /* padding: 0 24px; */
}

nav.gnb .gnb-left > li > a {
  color: #fff;
  font-size: 18px;
  padding: 0 24px;
  font-weight: 700;
}

nav.gnb .logo {
  flex: 2;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
}

nav.gnb .gnb-right {
  display: flex;
  flex: 4;
  align-items: center;
  justify-content: flex-end;
}

nav.gnb .gnb-right > li > a {
  color: #fff;
  font-size: 18px;
  padding: 0 24px;
  font-weight: 700;
}